<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TraitementInsertionCategorie</servlet-name>
        <servlet-class>servlet.TraitementInsertionCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementInsertionMateriel</servlet-name>
        <servlet-class>servlet.TraitementInsertionMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementInsertStyle</servlet-name>
        <servlet-class>servlet.TraitementInsertStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementAjoutMateriel</servlet-name>
        <servlet-class>servlet.TraitementAjoutMateriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMaterielParStyle</servlet-name>
        <servlet-class>servlet.AjoutMaterielParStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementAjoutMatiereDansStyle</servlet-name>
        <servlet-class>servlet.TraitementAjoutMatiereDansStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoirMatiereParStyle</servlet-name>
        <servlet-class>servlet.VoirMatiereParStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperationTailleCategorieStyle</servlet-name>
        <servlet-class>servlet.RecuperationTailleCategorieStyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperationVolume</servlet-name>
        <servlet-class>servlet.RecuperationVolume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperationProduitAFabriquer</servlet-name>
        <servlet-class>servlet.RecuperationProduitAFabriquer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementInsertionFabrication</servlet-name>
        <servlet-class>servlet.TraitementInsertionFabrication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementAjoutPrixMatiere</servlet-name>
        <servlet-class>servlet.TraitementAjoutPrixMatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperationPrixMinMax</servlet-name>
        <servlet-class>servlet.RecuperationPrixMinMax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementAchatMatierePremiere</servlet-name>
        <servlet-class>servlet.TraitementAchatMatierePremiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionTypeEmploye</servlet-name>
        <servlet-class>servlet.InsertionTypeEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionSalaire</servlet-name>
        <servlet-class>servlet.InsertionSalaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionNbrPersonnes</servlet-name>
        <servlet-class>servlet.InsertionNbrPersonnes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionNbrHeure</servlet-name>
        <servlet-class>servlet.InsertionNbrHeure</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraitementInsertionCategorie</servlet-name>
        <url-pattern>/TraitementInsertionCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementInsertionMateriel</servlet-name>
        <url-pattern>/TraitementInsertionMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementInsertStyle</servlet-name>
        <url-pattern>/TraitementInsertStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementAjoutMateriel</servlet-name>
        <url-pattern>/TraitementAjoutMateriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMaterielParStyle</servlet-name>
        <url-pattern>/AjoutMaterielParStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementAjoutMatiereDansStyle</servlet-name>
        <url-pattern>/TraitementAjoutMatiereDansStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoirMatiereParStyle</servlet-name>
        <url-pattern>/VoirMatiereParStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperationTailleCategorieStyle</servlet-name>
        <url-pattern>/RecuperationTailleCategorieStyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperationVolume</servlet-name>
        <url-pattern>/RecuperationVolume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperationProduitAFabriquer</servlet-name>
        <url-pattern>/RecuperationProduitAFabriquer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementInsertionFabrication</servlet-name>
        <url-pattern>/TraitementInsertionFabrication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementAjoutPrixMatiere</servlet-name>
        <url-pattern>/TraitementAjoutPrixMatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperationPrixMinMax</servlet-name>
        <url-pattern>/RecuperationPrixMinMax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementAchatMatierePremiere</servlet-name>
        <url-pattern>/TraitementAchatMatierePremiere</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TraitementFabricationProduit</servlet-name>
        <servlet-class>servlet.TraitementFabricationProduit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraitementFabricationProduit</servlet-name>
        <url-pattern>/TraitementFabricationProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionTypeEmploye</servlet-name>
        <url-pattern>/InsertionTypeEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionSalaire</servlet-name>
        <url-pattern>/InsertionSalaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionNbrPersonnes</servlet-name>
        <url-pattern>/InsertionNbrPersonnes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionNbrHeure</servlet-name>
        <url-pattern>/InsertionNbrHeure</url-pattern>
    </servlet-mapping>
</web-app>
